import json
import pymongo
import requests
import telegram

# Global Settings
api_url = ''


# Database Settings
DB_USER = ''
DB_PASS = ''
DB_NAME = ''
DB_ADDR = ''
DB_PORT = ''
DB_CON = 'mongodb://DB_USER:DB_PASS@DB_ADDR:DB_PORT/'
client = pymongo.MongoClient(DB_CON)
db = client[DB_NAME]

# Device Settings
device_id = ''

# Spotify Settings
spotify_username = ''
spotify_scope = ''
spotify_client_id = ''
spotify_client_secret = ''
spotify_redirect_uri = ''

# Telegram Settings
telegram_token = ''
telegram_chat_id = ''
telegram = telegram.Bot(telegram_token)

# Modules Settings
movement_sensor_pin = 4


def getDeviceConfig():
    url = api_url + '/devices/' + device_id
    response = requests.get(url)
    return json.loads(response.text)
